NODE_ENV=development
PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/job-board
ACCESS_TOKEN_SECRET=McqWmzXeshgUXah056GDSRS67STS875SFDG75DGSH
ACCESS_TOKEN_EXPIRES_IN=1h
REFRESH_TOKEN_SECRET=McqWmzXeshgUXah056GDSRS67STS875SFDG75DGSHREFRESHKEY
REFRESH_TOKEN_EXPIRES_IN=1d

EMAIL_USER=example@gmail.com
EMAIL_PASS=xxxxxxxxxxxxxxxx
